<%- include ../partials/_header.ejs %>
<br>
<div class="container col-md-4 col-md-offset-4">
<div class="w3-container w3-card-4 w3-light-grey w3-text-black w3-margin" style="padding-bottom: 6%; padding-top:2%;">
    
    <form method='post', action='/books/edit/<%= book.id %>'>
    
    <legend class="w3-center"><%= title %></legend>
    <div class='form-group'>
        <label for="male">Title</label>
        <input text="text" class="form-control" name="title" value="<%= book.title %>">
    </div>
    <br>
    <div class='form-group'>
        <label for="male">Author</label>
         <input text="text" class="form-control" name="author" value="<%= book.author %>">
    </div>
    <br>
    <div class='form-group'>
        <label for="male">Genre</label>
        <input text="text" class="form-control"name="genre" value="<%= book.genre %>">
    </div>
    <br>
    <input type="submit" value="Submit" class="btn btn-primary">
    <a class='w3-btn w3-red w3-border w3-border-red w3-hover-red w3-text-white w3-right' , style="margin-right: 4px" href="/">Back</a>
    </form>
</div>
</div>
