<!DOCTYPE html>
<html lang="en">

<body>
<%- include ../partials/_header.ejs %>
<div class="w3-container col-md-6 col-md-offset-3 w3-responsive">
    <br/>

    <div class="w3-container">
        <%- messages('message.ejs', locals) %>
        <legend class="w3-center">Books</legend>
        <br>
        <%- include ../partials/_search.ejs %>

        <table class="w3-table-all table-condensed table-bordered table-striped">
            <thead>
            <tr class="w3-blue">
                <th>Title</th>
                <% if (user) { %>
                <th colspan='3'></th>
                <% }else{ %>

                <% } %>
            </tr>
            </thead>

            <tbody>
            <% books_array.forEach(function(book){ %>
            <tr>

                <td><%= book.title %></td>
                <% if (user) { %>
                <td class="col-md-2 w3-center"><a class='w3-btn w3-border w3-green w3-small '
                                                  href="/books/<%= book._id %>">Show</a></td>
                <td class="col-md-2 w3-center"><a class='w3-btn w3-orange w3-border w3-small '
                                                  href="/books/edit/<%= book._id %>">Edit</a></td>
                <td class="col-md-2 w3-center"><a class='w3-btn w3-red w3-border w3-small '
                                                  onclick="return confirm('Are you sure you want to delete <%= book.title %>?')"
                                                  href="/books/delete/<%= book._id %>">Delete</a></td>
                <% }else{ %>

                <% } %>
            </tr>
            <% }); %>
            </tbody>
        </table>
        <br>
        <% if (user) { %>
        <a href="/books/new" id='#newBook'
           class='w3-btn w3-white w3-border w3-border-green w3-round-large w3-hover-green w3-hover-text-white w3-right'
           ,style="margin-right: 4px">New</a>
        <% }else { %>

        <% } %>
    </div>


</div>


</body>
</html>