<%- include ../partials/_header.ejs %>

<br>
<div class="container col-md-4 col-md-offset-4">
<div class="w3-container w3-card-4 w3-light-grey w3-text-black w3-margin" style="padding-bottom: 6%; padding-top:2%;">
    <form method='POST', action='/books/add'>
    
    
    
    <legend class="w3-center"><%= title %></legend>
    <div class='form-group'>
        <label for="male">Title</label>
        <input text="title" class="form-control" placeholder="Enter title" name="title">
    <div>
    <br>
    <div class='form-group'>
        <label for="male">Author</label>
        <input text="author" class="form-control" placeholder="Enter author" name="author">
    <div>
    <br>
    <div class='form-group'>
        <label for="male">Genre</label>
        <input text="genre" class="form-control" placeholder="Enter genre" name="genre">
    </div>
    <br>
    <input type="submit" value="Submit" class="btn btn-primary">
    <a class='w3-btn w3-red w3-border w3-border-red w3-hover-red w3-text-white w3-right' ,style="margin-right: 4px" href="/">Back</a>
    </form>
</div>
</div>
