<%- include ../partials/_header.ejs %>
<div class="col-md-4 col-md-offset-4"> 
<br>
<div class="w3-container w3-card-4 w3-light-grey w3-text-black w3-margin" style="padding-bottom: 6%; padding-top:2%;">
<br>
<table class="w3-table w3-border table-bordered">
    
      <tr>
        <td class="w3-blue"><strong>Title </strong></td><td style="padding-left: 6%"><%= book.title %></td>
      </tr>

      <tr>
        <td class="w3-blue"><strong>Author </strong></td><td style="padding-left: 6%"><%= book.author %></td>
      </tr>

      <tr>
        <td class="w3-blue"><strong>Genre </strong></td><td style="padding-left: 6%"><%= book.genre %></td>
      </tr>

</table>
<br>
    <a class='w3-btn w3-white w3-border w3-border-black w3-round-large w3-hover-black w3-hover-text-white' ,style='margin-right: 10px' href="/">Back</a>  
    <a class='w3-btn w3-green w3-border w3-border-green w3-round-large w3-hover-green w3-hover-text-white' ,style='padding: 10px' href="/books/edit/<%= book.id %>">Edit</a>
</div>
<br>
<div class="w3-container">
   
    
</div>
</div>