<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Bookshelf</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/w3css/w3css.css"/>
    <link rel="stylesheet" href="/w3css/style.css"/>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>


<nav class=" navbar navbar-inverse w3-teal  w3-border-teal">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header w3-container ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand w3-text-white" href="/">Bookshelf</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <% if (user) { %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle w3-text-white" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><%= user.username %> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/users/logout">Logout</a></li>
                        </ul>
                    </li>
                <% } else { %>
                    <li ><a href="/users/register" class="w3-text-white">Register</a></li>
                    <li ><a href="/users/login" class="w3-text-white">Login</a></li>
                <% } %>

            </ul>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container col-md-4 col-md-offset-4">
    <% if(errors){ %>
    <% errors.forEach((error) => { %>
    <div class='alert alert-danger'>
        <%= error.msg %>
    </div>
    <% }) %>
    <% }else{ %>

    <% } %>
</div>