<div id="formDiv" class="w3-card col-md-5 w3-light-grey w3-text-black w3-margin" style="display: none; padding-bottom: 6%; padding-top:2%;">
    <legend class="w3-center">Search...</legend>
    <form method="post" action="/">
        <label for="username">Title</label>
        <div class='form-group'>
            <input class="form-control" placeholder="Search by title" name="title" type="text">
        </div>

        <label for="password">Genre</label>
        <div class='form-group'>
            <input class="form-control" placeholder="Search  by genre" name="genre" type="text">

        </div>
        <br>
        <button type="submit" value="Submit" class="btn btn-primary w3-indigo"><span class="glyphicon glyphicon-zoom-in"></span> Search</button>

    </form>

</div>
<div class="col-md-2 w3-text-black">
    <a class='w3-btn w3-border w3-brown w3-small '
       id="btnToggle"><span class="glyphicon glyphicon-chevron-up"></span></a>
</div>

<script>
    $("#btnToggle").click(function() {
        // assumes element with id='button'
        $("#formDiv").toggle();
        $("#formDiv").visibility();
        $("#formDiv").addClass();
    });
</script>