<div id="messages">
<% Object.keys(messages).forEach(function (type) { %>
  <ul class="alert alert-<%= type %>">
  <% messages[type].forEach(function (message) { %>
    <%= message %>
  <% }) %>
  </ul>
<% }) %>
</div>