<%- include ../partials/_header.ejs %>



<br>
<div class="container col-md-4 col-md-offset-4">
    <div class="w3-container w3-card-4 w3-light-grey w3-text-black w3-margin"
         style="padding-bottom: 6%; padding-top:2%;">
        <form method='POST', action='/users/login'>

            <%- messages('message.ejs', locals) %>
            <legend class="w3-center">Login</legend>
            <div class='form-group'>
                <label for="username">Username</label>
                <input class="form-control" placeholder="Enter username" name="username" type="text">
            </div>
            <br>
            <div class='form-group'>
                <label for="password">Password</label>
                <input class="form-control" placeholder="Enter password" name="password" type="password">
            </div>
            <br>
            <div >
                <input type="submit" value="Submit" title="Login" class="btn btn-primary w3-bar">
                <br>

                <br>
                <a class='w3-text-black w3-left w3-centered w3-hover-text-black'
                   ,  href="/users/register">Don't have an account? Register now</a>
            </div>


        </form>
    </div>
</div>
